<div class="playerContainer" [style.font-size.px]="fontSize | async"
  [style.opacity]="opacity | async">
  <div class="player">
    <fa-icon [icon]="previousIcon" (click)="previous()"></fa-icon>
    <fa-icon [icon]="playIcon" (click)="play()" *ngIf="!(isPlaying | async)"></fa-icon>
    <fa-icon [icon]="pauseIcon" (click)="pause()" *ngIf="isPlaying | async"></fa-icon>
    <fa-icon [icon]="nextIcon" (click)="next()"></fa-icon>
    <div class="title" *ngIf="accessToken | async">
      <p>{{ currentSongTitle | async }}</p>
    </div>
    <label class="title" *ngIf="!(accessToken | async)">
      Spotify authentication required
    </label>
    <fa-icon class="menuIcon" [icon]="menuOpenIcon" (click)="showMenu()" *ngIf="!(isMenuVisible | async)"></fa-icon>
    <fa-icon class="menuIcon" [icon]="menuCloseIcon" (click)="hideMenu()" *ngIf="isMenuVisible | async"></fa-icon>
  </div>
  <settings *ngIf="isMenuVisible | async"></settings>
</div>