div.settingsContainer {
  display: flex;
  flex-direction: column;
  font-family: 'MontserratMedium';
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin: 0.5em 0;
  padding: 0 0.5em;
}

#authenticate {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  padding: 0.5em;
}

#authenticate:hover {
  color: white;
  border-color: white;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 0.5em;
  border-radius: 0.15em;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

slider {
  width: 70%;
}