/* You can add global styles to this file, and also import other style files */
html {
  background-color: transparent;
}

@font-face {
  font-family: LinetoMedium;
  src: url(assets/font/lineto-circular-pro-medium.ttf) format("truetype");
}

@font-face {
  font-family: LinetoBook;
  src: url(assets/font/lineto-circular-pro-book.ttf) format("truetype");
}